<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <div class="footer">
        <a class="footer-item" id="home-return-2" href="#home">Home</a>
        <a class="footer-item" href="#project">Projects</a>
        <a class="footer-item" href="#about">About</a>
        <a class="footer-item" href="#gear">Gear</a>
        <a class="footer-item" href="#about">Contact</a>
    </div>
</body>

</html>
