<div class="navbar" id="navbar">
    <div class="top-nav">
        <a class="nav-item" id="home-return" href="#home" style="margin-left: 5%">Dũng Hoàng</a>
        <a class="nav-item" href="#project">Projects</a>
        <a class="nav-item" href="#contact">Wish List</a>
        <a class="nav-item" href="/contact" style="float: right; margin-right:5%">Contact</a>
    </div>
</div>
