<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="bg" id="home">
        <div class="navbar" id="navbar">
            <div class="top-nav">
                <a class="item" id="home-return" href="#home" style="margin-left: 5%">Dũng Hoàng</a>
                <a class="item" href="#news">News</a>
                <a class="item" href="#contact">About</a>
                <a class="item" href="#about" style="float: right; margin-right:5%">Contact</a>
            </div>
        </div>
        <div class="image-container">
            <a href="https://github.com/hndung2406" target="_blank"><img class="image-link" src="../images/github_transparent.png" alt=""></a>
            <img class="image-link" src="../images/github_transparent.png" alt="">
            <img class="image-link" src="../images/github_transparent.png" alt="">
            <img class="image-link" src="../images/github_transparent.png" alt="">
        </div>
        <div class="intro">
            <h1 class="top-header" data-aos="zoom-in">DŨNG HOÀNG</h1>
            <p class="top-header" id="quote" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">"Without sacrifice, there can be no victory"</p>
            <p class="top-header" id="famous" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400"> - King Arthur, Transformers: The Last Knight</p>
        </div>
        <div class="scroll-down" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
            <a style="text-decoration: none; color:white" href="#contact">
                <span>Scroll Down</span>
                <br>
                <i class="fas fa-chevron-down down-arrow"></i>
            </a>
        </div>
    </div>
    <div style="height: auto; background-color: #191919;">
        <div style="color: white" class="about-me">
            <div class="about-text">ABOUT ME</div>
            <p class="normal-text" style="font: 1em 'Poppins', cursive;">Hi, My name is Hoàng Ngọc Dũng, I'm currently a senior majoring in Computer Science at Knox College. After trying a lot of different majors, I think Computer Science is best suited for me as I'm kind of a reserved person. Right now, I'm currently working as Java Software Engineer in FPT Software. And yes, I'm an Appleholic! My favorite quote:</p>
            <div class="text-container">
                <div class="description-container" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">SOFTWARE ENGINEER</div>
                    <ul class="normal-text">
                        <li>Web Framework: Spring, Struts, NodeJS, Django</li>
                        <li>Database: SQL, MySQL, MongoDB</li>
                        <li>High-level language: Java, Python, C#, C++, Ruby, Javascript</li>
                    </ul>
                </div>
                <div class="description-container" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">ALGORITHM</div>
                    <ul class="normal-text">
                        <li>All the basic data structures</li>
                        <li>Advanced data structures: Trie, AVL Tree, Red-Black Tree, Alpha-beta pruning, ...</li>
                        <li>Advanced Algorithm: Greedy Algorithm, Divide and Conquer, Dynamic Programming, Backtrack Programming, Amortized Array, Graph, ...</li>
                        <li>Practicing coding interview on <a href="https://leetcode.com/" target="_blank">leetcode.com</a></li>
                    </ul>
                </div>
                <div class="description-container" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">EDUCATION</div>
                    <ul class="normal-text">
                        <li>Lê Văn Tám Elementary School (2001-2007)</li>
                        <li>Trưng Vương Middle School (2007-2009)</li>
                        <li>Ngô Sĩ Liên Middle School (2009-2011)</li>
                        <li>Thăng Long High School (2011-2014)</li>
                        <li>Knox College (2014-2019)</li>
                    </ul>
                </div>
                <div class="description-container" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">HOBBIES</div>
                    <ul class="normal-text">
                        <li>Watch Movie, Anime and read Chinese fiction Novel</li>
                        <li>Playing Dota 2 with friends</li>
                        <li>Collecting Nendoroid</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100%"></div>
    <script src="../js/home.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

    </script>
</body>

</html>
