<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dũng Hoàng</title>
    <!-- Link css-->
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Font import -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--AOS image -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- fotorama.css & fotorama.js. -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

</head>

<body>
    <section class="bg" id="home">
        {{> header}}
        <div class="image-container">
            <a href="https://github.com/hndung2406" target="_blank"><img class="image-link" src="../images/github_transparent.png" alt=""></a>
            <a href="https://twitter.com/DavidHoang2406" target="_blank"><img class="image-link" src="../images/twitter_transparent.png" alt=""></a>
            <a href="https://www.instagram.com/hndung2406/" target="_blank"><img class="image-link" src="../images/instagram_transparent.png" alt=""></a>
            <a href="https://www.facebook.com/hndung2406" target="_blank"><img class="image-link" src="../images/facebook_transparent.png" alt=""></a>
            <a href="https://www.linkedin.com/in/ho%C3%A0ng-d%C5%A9ng-700b37160/" target="_blank"><img class="image-link" src="../images/linkedin_transparent.png" alt=""></a>
        </div>
        <div class="intro">
            <h1 class="top-header" data-aos="zoom-in">DŨNG HOÀNG</h1>
            <p class="top-header" id="quote" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">"Without sacrifice, there can be no victory"</p>
            <p class="top-header" id="famous" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400"> - King Arthur, Transformers: The Last Knight</p>
        </div>
        <div class="scroll-down" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
            <a style="text-decoration: none; color:white" href="#contact" id="scroll">
                <span>Scroll Down</span>
                <br>
                <i class="fas fa-chevron-down down-arrow"></i>
            </a>
        </div>
    </section>
    <section style="height: auto; background-color: #191919;">
        <div style="color: white" class="about-me">
            <div class="about-text">ABOUT ME</div>
            <p class="normal-text" style="font: 1em 'Montserrat', cursive;">Hi, My name is Hoàng Ngọc Dũng, I'm currently a senior majoring in Computer Science at Knox College. After trying a lot of different majors, I think Computer Science is best suited for me as I'm kind of a reserved person. Right now, I'm currently working as Java Software Engineer in FPT Software. I'm taking a gap year for working experience in Vietnam.</p>
            <p class="normal-text" style="font: 1em 'Montserrat', cursive;">Credit goes to <a href="https://devoncrawford.io/" target="_blank">Devon Crawford</a> for his amazing website template.</p>
            <div class="text-container">
                <div class="description-container" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">SOFTWARE ENGINEER</div>
                    <ul class="normal-text">
                        <li>Web Framework: Spring, Struts, NodeJS, Django</li>
                        <li>Database: SQL, MySQL, MongoDB</li>
                        <li>High-level language: Java, Python, C#, C++, Ruby, Javascript</li>
                    </ul>
                </div>
                <div class="description-container" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">ALGORITHM</div>
                    <ul class="normal-text">
                        <li>All the basic data structures</li>
                        <li>Advanced data structures: Trie, AVL Tree, Red-Black Tree, Alpha-beta pruning, ...</li>
                        <li>Advanced Algorithm: Greedy Algorithm, Divide and Conquer, Dynamic Programming, Backtrack Programming, Amortized Array, Graph, ...</li>
                        <li>Practicing coding interview on <a href="https://leetcode.com/" target="_blank">leetcode.com</a></li>
                    </ul>
                </div>
                <div class="description-container" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">EDUCATION</div>
                    <ul class="normal-text">
                        <li>Lê Văn Tám Elementary School (2001-2007)</li>
                        <li>Trưng Vương Middle School (2007-2009)</li>
                        <li>Ngô Sĩ Liên Middle School (2009-2011)</li>
                        <li>Thăng Long High School (2011-2014)</li>
                        <li>Knox College (2014-2019)</li>
                    </ul>
                </div>
                <div class="description-container" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400">
                    <div class="description-text">HOBBIES</div>
                    <ul class="normal-text">
                        <li>Watch Movie, Anime and read Chinese fiction Novel</li>
                        <li>Playing Dota 2 with friends</li>
                        <li>Collecting Nendoroid</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section style="height: auto" class="portfolio">
        <div class="portfolio-container">
            <div class="about-text" style="text-align: left; padding-left: 0%;" data-aos="zoom-out">WE KEEP THIS MEMORY IN THE PHOTOGRAPH</div>
            <div class="portfolio-row">
                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true" data-keyboard="true" data-autoplay="2000">
                    <img src="../images/birthday_date.jpg" data-fit="cover" data-caption="Bỉthday Date">
                    <img src="../images/bond.jpeg" data-fit="cover" data-caption="Bond the Cat">
                    <img src="../images//family.jpg" data-fit="cover" data-caption="Family">
                    <img src="../images/grandpa_grandma.jpg" data-fit="cover" data-caption="Grandpa Grandma">
                    <img src="../images/tho.jpg" data-fit="cover" data-caption="Little Niece">
                    <img src="../images/family_germany.jpg" data-fit="cover" data-caption="New Year's Eve in Germany">
                    <img src="../images/Linh.JPG" data-fit="cover" data-caption="Graduation's picture">
                    <img src="../images/tet_holiday.jpeg" data-fit="cover" data-caption="First Tet after 4 years">
                    <img src="../images/dotavn_euus.jpg" data-fit="cover" data-caption="Dota2VN EU US reunion">
                    <img src="../images/graduation.jpg" data-fit="cover" data-caption="Graduation's picture">
                    <img src="../images/graduation_2.jpeg" data-fit="cover" data-caption="Graduation's picture">
                    <img src="../images/award.jpeg" data-fit="cover" data-caption="First award">
                    <img src="../images/little_me.jpeg" data-fit="cover" data-caption="Little me">
                    <img src="../images/hanoi.jpeg" data-fit="cover" data-caption="Beautiful Hanoi">
                    <img src="../images/china.jpeg" data-fit="cover" data-caption="China">
                    <img src="../images/knox.jpg" data-fit="cover" data-caption="Knox College">
                </div>
            </div>
            <div style="padding-bottom: 5%">
                <div class="about-text" style="text-align: left; padding-left: 0%;" data-aos="zoom-out">PLAN IN 2019</div>
                <ul>
                    <li class="plan">Finish final course CS205: Algorithm Design & Analysis at Knox College.</li>
                    <li class="plan">Spring Boot, Microservices, Scalable website with Docker and Kubernetes.</li>
                    <li class="plan">Deeper understanding of NodeJS and Java Core.</li>
                    <li class="plan">Django, advanced Python.</li>
                    <li class="plan">Mastering Numpy, Pandas and Matplotlib, understanding more about Data Analysis.</li>
                    <li class="plan">If possible, start digging into Machine Learning.</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        {{> footer}}
    </section>
    <script src="../js/home.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

    </script>
</body>

</html>
