body,
html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.bg {
    background-image: url(../images/Linh.JPG);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-header {
    width: 100%;
    max-width: 500px;
    color: white;
    margin: auto;
    font: 3em "Poppins", cursive;
    text-align: left;
}

.scroll-down {
    color: white;
    margin: auto;
    padding-top: 5%;
    font: 1.5em "Poppins", cursive;
    text-align: center;
    font-weight: bold;
}

#quote {
    font-size: 20px;
}

#famous {
    font-size: 12px;
    text-align: left;
    padding-left: 30%;
}

.intro {
    padding: 20%;
    padding-top: 13%;
}

.about-text {
    font: 2em "Poppins", cursive;
    padding: 3.1% 10%;
}

.about-me .description-text {
    font: 1em "Poppins", cursive;
    padding: 5% 10%;
    font-weight: bold;
}

.about-me .normal-text {
    font: 0.9em "Montserrat", cursive;
    padding-left: 15%;
    padding-right: 15%;
}

.about-me .normal-text li {
    padding-bottom: 5%;
}

.text-container {
    padding-top: 2%;
}

.text-container .description-container {
    display: inline-block;
    width: 24%;
    padding-left: 2%;
    vertical-align: top;
}

.image-container {
    padding-top: 35%;
    position: absolute;
}

.image-container .image-link {
    width: 25px;
    display: block;
    padding-bottom: 50%;
}

.portfolio-container {
    padding-left: 10%;
    padding-right: 10%;
}

.portfolio-row {
    margin: 1%-2%;
}

/* Add padding BETWEEN each column */
.portfolio-row,
.portfolio-row > .portfolio-column {
    padding: 1%;
}

/* Create four equal columns that floats next to each other */
.portfolio-column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.portfolio-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.portfolio-content {
    background-color: #F1F1F1;
    padding: 5%;
}

.portfolio-image {
    width: 100%;
}

.plan {
    font: 1em "Montserrat", cursive;
    padding-bottom: 1%;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 10px, 0);
    }
}

.down-arrow {
    animation: bounce 1s cubic-bezier(.5, 0.05, 1, .5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
